<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="astra_description_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_r1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_r2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_r3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_r4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_r5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_r6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_r7l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r7l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_r7r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_r7r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
